.resizer {
    position: fixed;
    bottom: 30px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    pointer-events: none;

    &__tools {
        border: $border;
        border-radius: 3px;
        padding: 1px;
        background-color: #fff;
    }

    &__btn {
        cursor: pointer;
        margin: 0;
        padding: 0;
        border: none;
        color: $blue;
        width: 50px;
        height: 50px;
    }

    .away {
        border-right: $border;
    }

    .closer {
        border-left: $border;
    }

    .anothe_tool {
        border-radius: 3px;
        margin: 0 10px;
        border: $border;
    }

    button:focus, input:focus {
        box-shadow: 0 0 0 2px $blue;
        outline: none;
        z-index: 1;
    }

    &__resize input {
        height: 100%;
        position: relative;
        bottom: 6px;
        border: none;
        width: 50px;
        text-align: center;
    }
}

