@import "_variables.scss";

.left_panel, .right_panel {
    position: fixed;
    max-width: 400px;
    width: 300px;
    overflow: hidden;
    color: #fff;
    background-color: rgba(#111010, 0.55);
    z-index: 999;
}

.left_panel {
    left: 0;
    bottom: 0;
}

.right_panel {
    right: 0;
    bottom: 0;

    .size__image {
        margin-left: auto;
    }
}

h3 {
    font-size: 1.2rem;
    font-weight: 400;
}

.bg-dark {
    background-color: $background_dark;
}

.title {
    padding: 12px 15px;
}

.panel {

    &__tool_title {
        padding: 12px 12px;
        background-color: rgba($color: #000000, $alpha: 0.45);
    }

    &__tool_checkbox, &__tool {
        padding: 10px 12px;
    }

    &__tool_checkbox:hover {
        cursor: pointer;

        input:hover {
            cursor: pointer;
        }
    }

    &__tool {
        display: flex;
        justify-content: space-between;
        align-items: center;

        input, select {
            width: 150px;
            padding: 2px 7px;
        }

        select {
            background: rgba($color: #000000, $alpha: 0.45);
            color: #fff;
            border-radius: 5px;
        }

        option {
            background: rgb(59, 59, 59);
        }

        .input-size {
            width: 50px;
            text-align: right;
            border: 1px #000
        }
    }

    &__tools {
        .input-range {
            margin-left: 12px;
            width: 85%;
            margin-bottom: 10px;
        }

        .selection {
            justify-content: center;
            
            select {
                width: 100%;
                font-size: 14px;
                padding: 9px 7px;
            }
        }
    }
}

.size {
    &__section {
        display: flex;
        align-items: center;
    }

    &__image button{
        cursor: pointer;
        border: none;
        width: 38px;
        height: 40px;
    }

    &__size {
        margin-left: 10px;
        font-size: 16px;
    }
}
